@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Moonshiner-Regular';
    src: url('fonts/Moonshiner-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Moonshiner-Regular.woff') format('woff'),
    url('fonts/Moonshiner-Regular.ttf')  format('truetype'),
    url('fonts/Moonshiner-Regular.svg#Moonshiner-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoSlab-Bold.woff') format('woff'),
    url('fonts/RobotoSlab-Bold.ttf')  format('truetype'),
    url('fonts/RobotoSlab-Bold.svg#RobotoSlab-BoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RegencieLight';
    src: url('fonts/RegencieLight.eot?#iefix') format('embedded-opentype'),
    url('fonts/RegencieLight.woff') format('woff'),
    url('fonts/RegencieLight.ttf')  format('truetype'),
    url('fonts/RegencieLight.svg#RegencieLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moonshiner-Regular';
    src: url('fonts/Moonshiner-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Moonshiner-Regular.woff') format('woff'),
    url('fonts/Moonshiner-Regular.ttf')  format('truetype'),
    url('fonts/Moonshiner-Regular.svg#Moonshiner-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Bebas';
    src: url('fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
a,button,img,input,textarea{
	outline: none;
	outline-width: 0;
}
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'RobotoSlab-Regular', Helvetica, Arial, sans-serif;
	color:#444;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

section{width: 100%;
    position: relative;}


/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
html,body{height: 100%;}
.wrapper {  width:100%;  margin:0 auto;  position:relative;  height: 100%;}

/* header */
.header {  height: 100%;  background-position: center !important;  background-size: cover !important;  position: relative;  }
.titulo{  display: inline-block; vertical-align: top;  }
.bolsos{  width: 50%; position: relative; position: absolute; bottom: 20px; right: 0px; vertical-align: top; text-align: left;  }
.bolsos img{width: 45% !important;  }
.bolso1 img{  display: inline-block;  }
.sombra{margin-top: 0px}
.sombra h1 {
    background: linear-gradient(to right,  rgba(103,29,7,0.8) 0%,rgba(125,185,232,0.15) 85%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#671d07 ', endColorstr='#007db9e8',GradientType=1 );
    padding: 40px 0 40px 40px;
}
.h-icons{padding: 0 0 0 30px;}
.h-icons img{  margin: -35px 0px 0px 50px;  height: 90px;  }
.blanc{color: #ffffff}

/* logo */
.logo {  position: absolute;  left: 5%;  top: 0%;  }
.logo a{  display: block; padding:15px }
.logo-img {  }

/* nav */
.nav { /* position: fixed;*/  top: 0%;  width: 100%;  background-color: rgba(0,0,0,0.5);  height: 100px; z-index: 1000  }
.nav ul{  display: inline-block;  float: right; margin-right: 100px; margin-top: 40px  }
.nav ul li { vertical-align: middle; list-style: none;  display: inline-block;  padding-left: 10px;  padding-right: 10px;  line-height: 10px;  }
.nav ul li:last-child {  border-right: none;  }
.nav ul li a{  color: #fff;  font-size: 16px;  font-family: "RobotoSlab-Bold";  }
.menu-item:last-child a{ display: inline-block; background: url("img/logo-fb.png") no-repeat center center; height: 42px; width: 42px}

div.titulo{  text-align: center;  color: #671d07;  padding: 0px;}
div.titulo2{  text-align: center;  color: #ffffff;  margin-top: 150px;  padding: 25px;}
div.titulo h4{font-family: "Moonshiner-Regular"; font-size: 52px; line-height: 0px;  font-weight: 100}
div.titulo h3{font-family: "Moonshiner-Regular"; font-size: 90px; line-height: 0px; font-weight: 100}
div.titulo h1{font-family: "Bebas"; font-size: 90px; line-height: 0px; float: left;}
div.titulo2 h1{font-family: "Bebas"; font-size: 130px; line-height: 0px; float: left;margin-top: 5px;}


div.title{  text-align: center;  color: #ffffff;  margin-top: 150px;  padding: 25px;}
div.title h4{font-family: "Moonshiner-Regular"; font-size: 52px; line-height: 0px;  font-weight: 100}
div.title h3{font-family: "Moonshiner-Regular"; font-size: 90px; line-height: 0px; font-weight: 100}
div.title h1{font-family: "Bebas"; font-size: 162px; line-height: 0px}
.mobile_menu {display: none;}


/*** phrase 1****/
.phrase1{  background: #ffffff;  padding: 60px;  }
.phrase1 h2{ font-weight: 100; color: #f27c26; text-align: center; font-size: 70px; line-height: 20px; text-transform: uppercase; font-family: "Moonshiner-Regular" ; font-weight: 100 }


/**** FennecFox/articHare *****/
.fennecFox{background: url("img/bac_bolso1.png") no-repeat center center; background-size: cover; height: 560px; color: #ffffff}
.articHare{background: url("img/bac_bolso2.png") no-repeat center center; background-size: cover; height: 560px; color: #ffffff}
.fennecFox h1, .articHare h1{margin-top:0px; text-align: center; font-family: "RegencieLight"; font-size: 28px; color: #ffffff; padding: 30px}
.fennecFox h5, .articHare h5{padding: 0px;  margin: 0px; font-size: 15px; text-transform: uppercase;}
.articHare h5{text-align: right}
.fennecFox div img, .articHare div img{margin: 0px auto; display: block}
.fennecFox div{width: 32%; float: left}
.articHare div{width: 32%; float: right}
.fennecFox ul,.articHare ul{list-style: none;display: inline-block; width: 100%;  padding: 0;}
.fennecFox ul li{float: left; width: 20%; padding: 8px}
.articHare ul li{float: right; width: 20%; padding: 8px}
.fennecFox ul li img, .articHare ul li img{width: 100%; height: auto}
.see_more{color: #ffffff; font-size: 25px}
.articHare .see_more{float: right}
.buy_now{display: block; margin: 50px auto; background-color: #f27c26; text-transform: uppercase; color: #ffffff; font-size: 18px; padding: 10px 20px; width: 150px; text-align: center}

/*** phrase 2****/
.phrase2{  background: #ffffff;  padding: 60px;  }
.phrase2 h2{  color: #182f41; text-align: center; font-size: 110px; line-height: 20px; text-transform: uppercase; font-family: "Moonshiner-Regular" ; font-weight: 100 }
.phrase2 h2 span{color: #ffffff; background-color: #182f41;    vertical-align: middle;  display: inline-block;  height: 92px;  padding: 18px;}

/*** phrase 3****/
.phrase3{ padding-top: 15%; background: url("img/phrase-1.png") no-repeat center center; background-size: cover; height: 537px  }
.phrase3 h2{ color: #ffffff; text-align: center; font-size: 30px; line-height: 20px; text-transform: uppercase; font-family: "RobotoSlab-Bold"}
.phrase3 h2:last-child{font-family: "RobotoSlab-Regular"; font-size: 26px; font-weight: 100}

/*** phrase 4****/
.phrase4{  padding-top: 10%; background: url("img/phrase-2.png") no-repeat center center; background-size: cover; height: 450px  }
.phrase4 h2{ color: #4e2c05; text-align: center; font-size: 100px; line-height: 20px; text-transform: uppercase; font-family: "Moonshiner-Regular"; font-weight: 100}
.phrase4 h2:last-child{font-size: 60px}

/*** share****/
.share{  padding-top: 10%; background:#ffffff; padding-bottom: 10%;}
.share h2{padding: 20px; text-align: center; color: #ffffff; background-color: #182f41; width: 80%; display: block; margin: 20px auto; font-size: 90px; line-height: 90px; text-transform: uppercase; font-family: "Moonshiner-Regular"; font-weight: 100 }
.share a{display: block; margin: 40px auto; width: 230px}


/* footer */
.footer {  background: #363636;  height: 150px;  width: 100%; padding: 40px; float: left}
.logof{ float: left; margin-left: 5%;  }
.logof img{ width: 152px; height: auto}
.footer ul{  display: inline-block;  float: right; margin-right: 60px;  }
.footer ul li { vertical-align: middle;  list-style: none;  display: inline-block;  padding-left: 10px;  padding-right: 10px;  line-height: 10px;  }
.footer ul li:last-child {  border-right: none;  }
.footer ul li a{  color: #fff;  font-size: 16px;  font-family: "RobotoSlab-Bold";  }
.footer .menu-item:last-child a{ display: inline-block; background: url("img/logo-fb-footer.png") no-repeat center center; height: 42px; width: 42px}

.wpcf7-form{margin: 150px auto; width: 300px}
.wpcf7-form span{font-family: "RobotoSlab-Regular"; text-transform: uppercase; line-height: 25px; font-size: 16px; padding: 5px}
.wpcf7-form input, .wpcf7-form textarea{border: #d7d7d7 1px solid; width: 100% !important;}
.wpcf7-form input[type="submit"]{width: 120px !important;text-transform: uppercase; background-color: #f27c26; padding: 10px 20px; color: #ffffff; text-align: center; display: block; margin: 0 auto;}
.wpcf7-form input[type="submit"]:hover{background-color: #4e2c05; }

/************ velos ********************/
.velo{width: 100%; height: 100%; margin: 0px; padding: 20px; background-color: rgba(0,0,0,0.6); position: fixed; top: 0px}
.content_velo{width: 90%; height: 100%; margin: 0 auto; background-color: #ffffff; padding: 40px 20px; position: relative}
.info{width: 40%; float: left; overflow-y: auto; height: 100%; overflow-y: hidden;}
.info img{width: 70%; height: auto; display: block;}
.info h5{font-family: "RegencieLight"; font-size: 16px; text-align: left; color: #8c8989; display: block}
.cart{width: 60%; float: right; padding: 50px; overflow-y: auto; overflow-x: auto; height: 90%; padding-top: 100px}
.info p{font-size: 10px; }
.info div.description{height: 75%; overflow-y: scroll; overflow-x: hidden}
.info span{color: #f27c26}
.info h2{font-family: "RobotoSlab-Bold"; font-size: 12px}
.cart a.buy_now{width: 180px; display: none}
a.btn_cerrar{position: absolute; top: 20px; right: 20px; height: 30px; width: 30px; background: url("img/x.png") no-repeat center center; }
.velo{display: none}
#cart-id{visibility: hidden !important;}
div.ecwid-productBrowser-auth {display: none;}table.ecwid-Checkout-blockTitle button, div.ecwid-Checkout-PasswordBlock { display:none;}table.ecwid-Checkout-blockTitle .ecwid-btn { display: none;}.ecwid-productBrowser-CheckoutPaymentDetailsPage .ecwid-btn.ecwid-btn--secondary.ecwid-btn--sign_in { display: none;}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

/************* Productos ********************/
.product{margin: 0; padding: 5%}
.info_product{width: 50%; height: 100%; float: left;}
.info_product img{width: 70%; height: auto; display: block;}
.info_product h5{font-family: "RegencieLight"; font-size: 16px; text-align: left; color: #8c8989; display: block}
.cart_product{width: 50%; padding: 0px; float: right}
.info_product p{font-size: 12px; }
.info_product div.description{height: 75%;}
.info_product span{color: #f27c26}
.info_product h2{font-family: "RobotoSlab-Bold"; font-size: 12px}
.cart_product a.buy_now{width: 180px; display: none}
.ecwid-productBrowser-detailsContainer-vertical{margin-top: 120px}
.gwt-Anchor{height: 140px !important; position: relative !important; display: none !important;}
.div.ecwid-productBrowser-auth { display: none; }

@media screen and (max-width:768px) {

    .header {background-position: right !important;  background-size: cover !important;  position: relative;  }

    .logo{top:0%; left:0%; width: 45%}
    .nav {display: none;}
    .nav.mobile_menu {display: block !important; height: 100px}
    .toggle {  height: 40px;  width: 40px; margin-top: 50px; margin-right: 30px; background: url(img/menu.png);  background-repeat: no-repeat;  display: inline-block;  background-size: contain;  vertical-align: middle;  float: right;  }
    .nav.mobile_menu ul{ position: absolute; top: 50px; right: 30px; display: none;  padding: 7px;  width: 180px;  background: #2d2d2d;  margin: 39px 0px 0px 0px;  }
    .nav.mobile_menu ul li {  list-style: none;  display:block;  padding: 6px;  border-right: none;  line-height: 10px;  border-bottom: 1px solid #f27c26;  text-align: center;  }

    div.titulo h4{font-size: 32px; line-height: 32px}
    div.titulo h3{font-size: 45px; line-height: 0px}
    div.titulo h1{font-size: 92px; line-height: 0px}

    div.title h4{font-size: 32px; line-height: 32px}
    div.title h3{font-size: 45px; line-height: 0px}
    div.title h1{font-size: 92px; line-height: 0px}
    .phrase1 h2{font-size: 30px; line-height: 30px;}

    .phrase2{padding: 0px}
    .phrase2 h2{font-size: 60px; line-height: 65px}
    .phrase2 h2 span{height: 75px;  padding: 5px;}

    .phrase3{padding-top: 300px}
    .phrase3 h2{font-size: 18px; line-height: 20px}
    .phrase3 h2:last-child{font-size: 16px; line-height: 18px}

    .phrase4{padding-top: 150px}
    .phrase4 h2{font-size: 55px;}
    .phrase4 h2:last-child{font-size: 48px;}

    .share h2{font-size: 40px; padding: 0px; width: 100%; line-height: 40px;}

    .footer ul{display: none}
    .footer .logof{width: 50%; margin: 0 auto; float: none}

    .fennecFox, .articHare{height: 660px}
    .fennecFox h1, .articHare h1{font-size: 14px; color: #ffffff; padding: 12px; width: 70%; margin: 0 auto}
    .fennecFox h5, .articHare h5{padding: 0px;  margin: 0px; font-size: 10px; text-transform: uppercase; text-align: center; float: none }
    .fennecFox div, .articHare div{width: 90%; float: none; margin: 0 auto}
    .fennecFox div img, .articHare div img{width: 30%}
    .see_more{width: 100%; text-align: center; display: none}

    .fennecFox ul,.articHare ul{height:80px;list-style: none;display: inline-block; width: 50%;  padding: 0; margin: 0px auto; display: block}
    .fennecFox ul li{float: left; width: 25%; padding: 8px}
    .fennecFox ul.gopro li{float: left; width: 50%; padding: 8px}
    .fennecFox ul.gopro{height: 50px}
    .articHare ul li{float: right; width: 33%; padding: 8px}
    .buy_now{margin: 100px auto}

    .velo{padding: 0}
    .content_velo{width: 100%}
    .info{height: 120px}
    .info, .cart{width: 100%}
    .info .description{display: none}
    .info h5{font-size: 12px;}
    .cart a.buy_now{width: 180px; margin: 20px auto; display: none}

    .info_product, .cart_product{width: 100%}
    .info_product{display: none}
    .cart_product{float: left}


}

@media screen and (max-width:480px) {

    .fennecFox div img, .articHare div img{width: 50%}
    .fennecFox ul,.articHare ul{height:80px;list-style: none;display: inline-block; width: 80%;  padding: 0; margin: 0px auto; display: block}

}



@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoSlab-Regular.woff') format('woff'),
    url('fonts/RobotoSlab-Regular.ttf')  format('truetype'),
    url('fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('fonts/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/RobotoSlab-Regular.woff') format('woff'),
    url('fonts/RobotoSlab-Regular.ttf')  format('truetype'),
    url('fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@media all and (max-width: 1024px) {
  .titulo{
    width: 100% !important;
    margin: 10px 0px 10px 0px !important;
  }
  .titulo h1{
    padding: 8px !important;
    line-height: 28px !important;
    font-size: xx-large !important;
    display: block !important;
    text-align: center !important;
  }
  .h-icons{
    display: none !important;
  }
  .bolsos{
      margin: 0px 0px;
      position: relative !important;
      width: 60% !important;
      display: block !important;
      margin: 0 auto;
  }
  .bolsos img{
    width: 45% !important;
    margin-top: 0px !important;
  }
}

@media all and (max-width: 480px) {
    .bolsos{
        margin: 0px 0px;
        position: relative !important;
        width: 100% !important;
        display: block !important;
        margin: 0 auto;
    }
    .bolsos img{
        width: 45% !important;
        margin-top: 0px !important;
    }
}
